.mbr-overlay {

    opacity: 0.5;
    background-color: rgb(35, 35, 35);

}

.card-box {

    color: rgb(255, 153, 102);
    fill: rgb(255, 153, 102);

}

.mbrib-desktop {

    color: rgb(255, 153, 102); 
    fill: rgb(255, 153, 102);

}

.mbrib-setting3 {

    color: rgb(255, 153, 102);
    fill: rgb(255, 153, 102);


}