<section class="card">
  <div class="card-body">
    <h1>Page</h1>
    <p>
      Pagina institucional que realizamos. <A href="https://gastonavila12.github.io/gastusoluciones/gastusoluciones.html"> gastusoluciones web </A>  

    </p>
  </div>
</section>
